:root {
  --primary: #fff;
}



.btn--primary {
  font-family: 'Poppins';
  background-color: var(--primary);
  color: #242424;
  border: 0.074vw solid var(--primary);
}

.btn--outline {
  font-family: 'Poppins';
  background-color: transparent;
  color: #fff;
  padding: 0.6vw 1.5vw;
  border: 0.074vw solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--medium {
  font-family: 'Poppins';
  padding: 0.6vw 1.5vw;
  font-size: 1.33vw;
}

.btn--large {
  font-family: 'Poppins';
  padding: 0.9vw 2vw;
  font-size: 1.5vw;
}

.btn--wide {
  font-family: 'Poppins';
  padding: 0.88vw 3.7vw;
  font-size: 1.5vw;
}

.btn--mobile {
  font-family: 'Poppins';
  text-align: center;
  border-radius: 0.3vw;
  width: 80%;
  text-decoration: none;
  font-size: 1.5rem;
  background-color: transparent;
  color: #fff;
  padding: 1vw 1.5vw;
  border: 0.074vw solid #fff;
  transition: all 0.3s ease-out;
}



.btn--large:hover,
.btn--medium:hover,
.btn--mobile:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  color: #242424;
}

.btn--wide:hover {
  color: rgb(0, 0, 0);
  background-color: #eff9ff;
  transition: all 0.2s ease-out;
}

.btn-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  /* padding: 0.6vw 1.2vw; */
  height: 100%;
  width: 100%;
}

.white__and__border {
  background: #ffffff;
  color: rgb(0, 0, 0);
  border: 2px;
  border-style: solid;
}

.blue {
  background-color: #0076C6;
  color: #fff;
  border: none;
}

.red {
  background-color: #f00946;
  color: #fff;
  border: none;
}

.primary {
  background-color: #242424;
  color: #fff;
  border: none;
}

.primary:hover {
  background-color: #fff;
  color: #242424;
  border: none;
}

.white {
  background: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  box-shadow: 0 0.5vw 1.5vw rgba(0, 0, 0, 0.3);


}

.green {
  background: #25ce4a;
  color: #fff;
  border: none;

}

.white:hover{
  transform: scale(1.06);
  transition: all 0.2s ease-out;
}

.green:hover {
  background-color: #6ace7f;
  color: #fff;
  transform: scale(1.06);
  transition: all 0.2s ease-out;
}

.blue:hover {
  background-color: #0888dd;
  color: #fff;
  border: none;
}

