@import '../App.scss';

.footer__background__image {
  background-image: url('../imagesSrc/halfCloudButtom.webp'),
  linear-gradient(
    rgba(0, 118, 198, 0.2), 
    rgba(0, 51, 86, 0.7)
  ), url('../imagesSrc/footerBackground.webp');
  background-color: #1c2237;
  background-position: center top; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size:100%,cover,cover ; /* Resize the background image to cover the entire container */
  /* box-shadow: inset 0 0 0 1000px rgba(0, 118, 198,.2); */
}

.footer__container {
  padding: vw(10) 0 vw(1) 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__offers__container{
  display: flex;
  flex-direction: row;
}

.footer__offer__wrapper {
  display: flex;
  height: vw(10);
  flex-direction: column;
  align-items: center;
  margin: vw(5);
}

.footer__offer__text {
  font-family: 'Poppins';
  margin-bottom: vw(0.2);
  font-family: 'Galada';
  font-weight: 400;
  color: #f7f8fa;
  font-size: vw(2.6);
  white-space: pre-wrap;
  text-align: center;
}

.footer__offer__btn {
  background: #ffffff;
  font-size: vw(1.2);
  color: rgb(0, 0, 0);
  border: none;
  box-shadow: 0 vw(0.5) vw(1.5) rgba(0, 0, 0, 0.3);
  padding: vw(1.2) vw(2);
}

.footer__offer__btn:hover{
  transform: scale(1.06);
  transition: all 0.2s ease-out;
}


.footer__bottom__line {
  max-width: vw(74);
  width: 100%;
}

.footer__bottom__line__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: vw(3) auto 0 auto;
}

.footer__logo {
  width: vw(4);
  height: vw(4);
  margin-bottom: vw(1);
}

.footer__logo__wrapper {
  color: #fff;
  justify-self: start;
  margin-left: vw(1.5);
  cursor: pointer;
  text-decoration: none;
  font-size: vw(3);
  display: flex;
  align-items: center;
  margin-bottom: vw(1.2);
  font-family: 'Galada';
}

.footer__website__copyright {
  color: #fff;
  margin-bottom: vw(1.2);
  font-size: vw(1);
}

.website__files__links__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: vw(18);
  margin-bottom: vw(2);
}

.website__file__link {
  color: #fff;
  font-size: vw(1.4);
  text-decoration: none;
}

.website__file__link:hover {
  text-decoration: underline;
}











@media screen and (max-width: 820px) {
  .footer-links {
    padding-top: 2rem;
  }

  .footer-input {
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  .footer-link-wrapper {
    flex-direction: column;
  }

  .social-media-wrap {
    flex-direction: column;
  }
}
