@import './App.scss';

.public__seperator__purple__wrapper {
    height: vw(2);
    margin-left: 0;
    margin-top: vw(-1);
    margin-bottom: vw(1);
  }
  
  .public__seperator__purple {
    height: vw(2);
  }

  .row {
    display: flex;
    margin-right: vw(-1);
    margin-bottom: vw(-1);
    margin-left: vw(-1);
    flex-wrap: wrap;
    align-content: stretch;
  }
  
  .col {
    margin-bottom: vw(1);
    padding-right: vw(1);
    padding-left: vw(1);
    /* flex: 1; */
    max-width: 50%;
    flex-basis: 50%; /* override by HeroSection.js */
    justify-content: center;
    display: flex;
  }
  
  .small__home__hero-section {
    color: #fff;
    padding-top: vw(2.2);
    padding-bottom: vw(0);
  }
  
  .medium__home__hero-section {
    color: #fff;
    padding-top: vw(3);
    padding-bottom: vw(3);
  }
  
  .big__home__hero-section {
    color: #fff;
    padding-top: vw(3);
    padding-bottom: vw(6);
  }

  img {
    border: 0;
    vertical-align: middle;
    /* display: inline-block; */
    object-fit: fill;
  }

  .dark {
    color: #1c2237;
  }
  
  .darkBg {
    background-color: #1c2237;
  }
  
  .btn {
    padding: vw(0.6) vw(1.5);
    /* margin: 0.75vw; */
    border-radius: vw(0.3);
    outline: none;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    font-weight: 500;
  }


  
  .btn-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    /* padding: 0.6vw 1.2vw; */
    /* height: 100%;
    width: 100%; */
    flex:1;
  }