@import '../../../App.scss';

.hero__intro__section__first {
  /* background-color: transparent!important; */
  margin-top:vw(-10);
  background-image: url('../../../imagesSrc/halfCloudTop.webp'),
  linear-gradient(
    rgba(0, 118, 198, 0.15), 
    rgba(0, 51, 86, 0.5)
  ),linear-gradient(
    rgba(0, 118, 198, 0.15), 
    rgba(0, 51, 86, 0.5)
  ), url('../../../imagesSrc/sectionOneBg.webp');
  background-color: #50a6ca;
  background-position: center bottom,center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size:100% ,100%,cover,100% ; /* Resize the background image to cover the entire container */
  /* box-shadow: inset 0 0 0 1000px rgba(0, 118, 198,.2); */
}

.hero__idea__section__second {
  /* background-image: url('../imagesSrc/logo192.webp'); */
  background-color: #ffffff;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.hero__get__started__section__third {
  background-image: url('../../../imagesSrc/sectionThreeBg.webp');
  /* background-color: #ffffff; */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.hero__intro__section {
  color: #fff;
  padding-top: vw(3);
  padding-bottom: vw(6);
}

.hero__idea__section {
  color: #fff;
  padding-top: vw(3);
  padding-bottom: vw(3);
}

.hero__get__started__section {
  color: #fff;
  padding-top: vw(3);
  padding-bottom: vw(14);
}

.hero__features__intro__section {
  color: #fff;
  padding-top: vw(2.2);
  padding-bottom: vw(0);
}

.hero__container{
  z-index: 1;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: vw(3.7);
  padding-left: vw(3.7);
}

.hero__row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: vw(-1);
  margin-bottom: vw(-1);
  margin-left: vw(-1);
  flex-wrap: wrap;
  align-content: stretch;
}

.hero__col {
  margin-bottom: vw(1);
  padding-right: vw(1);
  padding-left: vw(1);
  /* flex: 1; */
  max-width: 50%;
  flex-basis: 50%; /* override by HeroSection.js */
  justify-content: center;
  display: flex;
}

.hero__text__wrapper {
  max-width: vw(45); /* override by HeroSection.js*/
  padding-top: 0;
  text-align: left;
}

.hero__topline {
  color: #ffffff;
  font-size: vw(1.4);
  line-height: vw(1.2);
  font-weight: 700;
  letter-spacing: vw(0.1);
  text-transform: uppercase;
  margin-bottom: vw(1.2);
  white-space: pre-wrap;
}

.hero__heading {
  margin-bottom: vw(0.2);
  font-family: 'Galada';
  /* line-height: 1.1vw; */
  font-weight: 500;
  color: #f7f8fa;
  font-size: vw(3.2); /* override by HeroSection.js*/
  white-space: pre-wrap;
}


.hero__subtitle {
  /* max-width: 450px; */
  font-family: 'Poppins';
  margin-bottom: vw(2.6);
  font-size: vw(1.4); /* override by HeroSection.js*/
  white-space: pre-wrap;
}

.hero__img__wrapper {
  width: vw(40);
}

.hero__img {
  border: 0;
  vertical-align: middle;
  /* display: inline-block; */
  object-fit: fill;
  width: vw(40);
  margin-top: 0;
  margin-right: 0;
  margin-left: vw(0.75);
  padding-right: 0;
}

.dark {
  color: #1c2237;
}

.hero__btn__green {
  font-family: 'Poppins';
  padding: vw(0.88) vw(3.7);
  font-size: vw(1.5);  background: #25ce4a;
  color: #fff;
  border: none;
  font-family: 'Poppins';
  padding: vw(0.88) vw(3.7);
  font-size: vw(1.5);
}

.hero__btn__green:hover {
  background-color: #6ace7f;
  color: #fff;
  transform: scale(1.06);
  transition: all 0.2s ease-out;
}

.hero__btn__white {
  font-family: 'Poppins';
  padding: vw(0.88) vw(3.7);
  font-size: vw(1.5);
  background: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  box-shadow: 0 vw(0.5) vw(1.5) rgba(0, 0, 0, 0.3);
}

.hero__btn__white:hover{
  transform: scale(1.06);
  transition: all 0.2s ease-out;
}


.hero__btn__white--and--border {
  font-family: 'Poppins';
  padding: vw(0.88) vw(3.7);
  font-size: vw(1.5);
  background: #ffffff;
  color: rgb(0, 0, 0);
  border: 2px;
  border-style: solid;
}





// @media screen and (max-width: 991px) {
//   .container {
//     padding-right: 30px;
//     padding-left: 30px;
//   }
// }

@media screen and (max-width: 700px) {

  // .hero__container{
  //   z-index: 1;
  //   width: 100%;
  //   height: vh(95);
  //   margin-right: auto;
  //   margin-left: auto;
  //   padding-right: vw(3.7);
  //   padding-left: vw(3.7);
  // }

  .hero__intro__section__first {
    background-size:100% ,100%,cover,cover ; /* Resize the background image to cover the entire container */
  }


  .hero__row {
    flex-direction: column-reverse !important;
  }

  .hero__intro__section{
    padding-top: vw(3);
    padding-bottom: vw(6);
    height: vh(95);
  }

  .hero__idea__section {
    color: #fff;
    height: vh(120);
  }

  .hero__get__started__section {
    color: #fff;
    height: vh(95);
  }

  .hero__col {
    max-width: 100%;
    flex-basis: 100%; /* override by HeroSection.js */
  }

  .hero__heading {
    font-size: vh(7) !important; /* override by HeroSection.js*/
  }

  .hero__subtitle {
    font-size: vh(3) !important; /* override by HeroSection.js*/
  }

  .hero__topline {
    font-size: vh(2.7);
    font-weight: 400;
  }

  .hero__img {
    /* display: inline-block; */
    height: vh(30);
    width: auto;
  }
  .hero__img__wrapper {
    /* display: inline-block; */
    height: vh(30);
    width: auto;
  }

  .hero__btn__green {
    padding: vw(0.88) vw(3.7);
    font-size: vh(3);  
    background: #25ce4a;
    border-radius: vh(0.7);
  }

  .hero__btn__white {
    margin-top: vh(2);
    padding: vw(0.88) vw(3.7);
    font-size: vw(3.5);
  }

  .hero__btn__white--and--border {
    padding: vw(0.88) vw(3.7);
    font-size: vw(3.2);
    border: vw(0.2);
    border-style: solid;
  }
  // .col {
  //   max-width: 100%;
  //   flex-basis: 100%;
  // }
  .public__seperator__purple__wrapper {
    height: auto;
    width: vw(90);
    margin-left: 0;
    margin-top: vw(-1);
    margin-bottom: vw(1);
  }
  
  .public__seperator__purple {
    height: auto;
    width: vw(80);
  }
}
